body {
    background:#f2f2f2;
    padding:0;
    margin:0 auto;
    font-family:"Fira Sans", "Helvetica", sans-serif;
}

#wrapper {
    width:990px;
    margin:0 auto;
    min-height:1600px;
}

nav {
    position:fixed;
    width:990px;
    padding:15px 20px;
    margin-top:10px;
    min-height:33px;
    background-color:#eee;
    border-radius:4px;
}

#logo {
    display:inline-block;
    float:left;
    width:135px;
}

#menu {
    display:inline-block;
    float:right;
}

nav ul {
    list-style: none;
    display:block;
}

#menu .up {
    position:relative;
    display:inline-block;
    padding:8px 30px;
    margin:-2px 0 0 5px;
    background-color:transparent;
    border:1px solid #999;
    color:#777;
    background:#f5f5f5;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:2px;
    opacity:.7;
}

#menu .up:hover {
    background-color:#f5f5f5;
    color:#E84910;
    border:1px solid #E84910;
    opacity:1;
    transition:all .4s ease;
}

#menu .up:hover > #sub {
    display:block;
}

#sub {
    display:none;
    position:absolute;
    width:120px;
    padding:10px;
    margin:8px;
    text-align:center;
}

.sub {
    display:block;
    float:right;
    width:150px;
    padding:6px 20px;
    margin:0 2px 2px 2px;
    background:#aaa;
    border-radius:2px;
    color:white;
    opacity:.4;
    z-index:999;
}

.sub:hover {
    opacity:1;
}

.sub-plus:hover > #sub-sub {
    display:block;
}

#sub-sub {
    display:none;
    position:absolute;
    right:184px;
    top:58px;
    width:120px;
    padding:10px;
    margin:8px;
    text-align:center;
}

.sub-sub {
    display:block;
    float:right;
    width:150px;
    padding:6px 20px;
    margin:0 2px 2px 2px;
    background:#aaa;
    border-radius:2px;
    color:white;
    opacity:.4;
    z-index:999;
}

.sub-sub:hover {
    opacity:1;
}