body {
    background:url(img/bg.jpg) center no-repeat;
    background-attachment: fixed;
    background-position: cover;
    background-color:rgb(43, 43, 49);
    color:white;
    font-size:16px;
    font-family:"merriweather";
    font-weight:300;
    line-height:1.5;
}

h1 {
    color:rgb(74, 74, 82);
    margin-top:0;
    margin-bottom:0;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: once;
}

h2, h3 {
    font-size:22px;
    font-weight:400;
    color:white;
    margin:0 0 10px 0;
}

h4 {
    color:salmon;
    margin-bottom:-10px;
    margin-top:10px;
}

ul {
    list-style-image: url(img/bullet.png);
}

span {
    font-size:16px;
    font-weight:200;
    font-style:italic;
    color:#555;
    margin-left:10px;
}

a {
    color:rgb(170, 102, 94);
    transition-property: color, opacity;
    transition-duration: .3s;
    transition-timing-function: ease;}

a:hover {
    color:rgb(255, 140, 128);
    transition-property: color, opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.mono {
    font-family:'Menlo', 'Monaco', 'Courier New', monospace;
    font-size:14px;
    margin-left:20px;
    line-height:1.5;
}

li .mono {
    line-height:2;
    color:grey;
    font-size:12px;
}

li:nth-child(7) {
    color:white!important;
}

li::selection, p::selection, a::selection {
    color:white!important;
    background-color:red;
}


#container {
    margin:20px auto;
}

#top {
    display:block;
    float:right;
    font-size:12px;
    font-family:"open sans", "fira sans", sans;
    text-transform:uppercase;
    margin-top:-24px;
    opacity:0.2;
}

#grid {
    display:grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.grid-item {
    display:block;
    position:relative;
    background-color:rgb(60, 60, 66);
    padding:20px;
    height:460px;
    border-radius: 0 0 100px 0;
    opacity:.4;
    transition: all 5s ease;
    overflow:hidden;
}

.grid-item:hover {
    opacity:1;
    transition: all .7s ease;    
}

.square-1 {
    position:relative;
    background-color:rgb(27, 27, 31);
    border-left:solid 5px rgb(75, 45, 42);
}

.square-1:hover {
    border-left:solid 5px salmon;
}

#square-1-hide, #week-1-hide, #week-2-hide, #week-3-hide, #week-4-hide, #week-5-hide, #week-6-hide, #week-7-hide, #week-8-hide {
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:90px;
    background-color:#111;
    background-position-y: bottom;
    cursor:pointer;
}

#square-1-hide {
    background:url(img/square-1-hide.png) repeat-x;
}

#week-1-hide {
    background:url(img/week-1-hide.png) repeat-x;
}

#week-2-hide {
    background:url(img/week-2-hide.png) repeat-x;
}

.expand-img {
    position:absolute;
    bottom:0;
    left:110px;
    opacity:.4;
    padding:16px 100px;  
}

.expand-img:hover {
    opacity:1;
}

.reduce-img {
    position:absolute;
    bottom:16px;
    left:220px;
    transform:scaleY(-1);
}

.week-1 {
    background-color:rgb(22, 25, 27);
    border-left:solid 5px rgb(44, 54, 54);
}

.week-1:hover {
    border-left:solid 5px rgb(96, 177, 180);
}

.week-1 a, .week-1 h4 {
    color: rgb(90, 162, 165);
}

.week-1 a:hover {
    color: rgb(113, 237, 241);
}

.week-2 {
    background-color:rgb(32, 32, 30);
    border-left:solid 5px rgb(70, 73, 53);
}

.week-2:hover {
    border-left:solid 5px rgb(199, 214, 129);
}

.week-2 a, .week-2 h4 {
    color:rgb(168, 179, 118);
}

.week-2 a:hover {
    color:rgb(241, 255, 179);
}

.double-item {
    grid-row: span 2;
}

.triple-item {
    grid-row: span 3;
}

.item-tools {
    position:absolute;
    right:12px;
    top:12px;
    opacity:.2;
    transition:all .7s ease;
}

.item-tools:hover {
    opacity:1;
    transition:all .7s ease;
}

#table {
    display:none;
    width:100%;
    margin:10px 0 10px -35px;
}

table {
    text-align:center;
    color:#aaa;
    font-weight:200;
    font-size:12px;
    width:100%;
}

.click::after {
    position:absolute;
    content:"← click me";
    color:white;
    text-transform:none;
    font-weight:200;
    font-size:13px;
    padding-left:8px;
    margin-top:3px;
    animation: pulse 1s infinite;
}

th {
    padding:5px;
    color:salmon;
    font-weight:200;
    background-color:#445;
}

tr {
    opacity:.6;
}

th:hover,tr:hover {
    opacity:1;
}

td {
    padding:5px;
    background-color:rgb(25, 25, 27);
}
th.corner-cell {
    opacity:0;
    transition: all 1s ease;
    background-color:transparent;
}

th.corner-cell:hover {
    opacity:.8;
    transition: all 1s ease;
}

.first-cell {
    background-color:rgb(15, 15, 18);
}

@media (max-width:980px) {
    body {
        padding:10px 20px 30px 10px;
    }
    table {
        width:100%;
        font-size:10px;
        padding:0;
        margin:0;
    }
    td,th {
        padding:2px 5px;
    }
    .grid-item {
        padding:10px 15px 10px 15px;
    }
    .click::after {
        content:"← click";
        font-size:12px;
        padding-left:5px;
        margin-top:4px;
    }
}

@media (min-width:980px) {
    body {
        padding:10px 20px;
    }
    #container {
        width:930px;
    }
    #grid {
        grid-template-columns: repeat(2, 450px);
    }
    h1 {
        font-size:94px;
    }
}

@media (min-width:1180px) {
    body {
        padding:20px 50px;
    }
    #container {
        width:1030px;
    }
    #grid {
        grid-template-columns: repeat(2, 500px);
    }
}

@media (min-width:1650px) {
    body {
        padding:20px 50px;
    }
    #container {
        width:1530px;
    }    
    #grid {
        grid-template-columns: repeat(3, 500px);
    }
}

::-webkit-scrollbar {
    width: 20px;
    background: rgb(43, 42, 44); 
}

::-webkit-scrollbar-thumb {
    width: 20px;
    background: rgb(64, 62, 66); 
    border-radius:2px;
}

::-webkit-scrollbar-thumb:hover {
    width: 20px;
    background: rgb(82, 79, 85); 
}



@keyframes pulse {
    0% {
      opacity:.3;
    }
    70% {
        opacity:1;
    }
    100% {
        opacity:.3;
    }
}

@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: .2s;
  }
  
  .animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: .35s;
  }
  
  .animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: .5s;
  }
  
  .animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  
  .animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }
  
  .animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
  }
  
  .animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
  }
  
  .animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  
  .animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
  }
  
  @media (print), (prefers-reduced-motion: reduce) {
    .animated {
      -webkit-animation-duration: 1ms !important;
      animation-duration: 1ms !important;
      -webkit-transition-duration: 1ms !important;
      transition-duration: 1ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
    }
  }