<div id="flex-side-in-left" class="dblclick">
    <div class="side-top dblclick">
        <h3>do today</h3>
        <div class="btn-small btn-add-task" (click)="showNewTaskPopup()">add new</div>
    </div>

    <ul>
      <li class="task grey-task" [ngClass]="{taskBounce: winIsLoaded}" *ngFor="let task of tasksToday">
        <p>{{ task.body }}</p>
        <div class="task-edit">
          <div class="task-btns">
              <div class="task-btn" onclick="editTask()">edit</div>
              <div class="task-btn red-btn" onclick="javascript:doNewTask();">do now</div>
          </div>
          <div class="task-btn-delete" onclick="javascript:deleteTask();"></div>
        </div>
      </li>
    </ul>

    <div class="side-top dblclick">
            <h3>do later</h3>
    </div>
    <div id="flex-left-later">
        <ul>
            <li class="task grey-task" [ngClass]="{taskBounce: winIsLoaded}" *ngFor="let task of tasksLater">
              <p>{{ task.body }}</p>
              <div class="task-edit">
                <div class="task-btns">
                    <div class="task-btn" onclick="editTask()">edit</div>
                    <div class="task-btn red-btn" onclick="javascript:doNewTask();">do now</div>
                </div>
                <div class="task-btn-delete" onclick="javascript:deleteTask();"></div>
              </div>
            </li>
          </ul>
</div>
