@keyframes taskBounce {
    0% {
        transform:translateY(0px);
    }
    20% {
        transform:translateY(40px);
    }
    100% {
        transform:translateY(0px);
    }
}

.taskBounce {
    animation: taskBounce .7s;
  }

  

@keyframes flipInX {
    from {
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      animation-timing-function: ease-in;
    }
  
    60% {
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    to {
      transform: perspective(400px);
    }
  }
  
  .flipInX {
    backface-visibility: visible !important;
    animation: flipInX .7s;
  }
  
  @keyframes zoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    to {
      opacity: 0;
    }
  }
  
  .zoomOut {
    animation-name: zoomOut;
  }
  

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation: fadeIn .5s;
}

@keyframes shake {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
}

.shake {
    animation:shake 1s;
}

@keyframes rollOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
  }
  
.rollOut {
    animation: rollOut 1s;
}

@keyframes hinge {
    0% {
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
  
    20%,
    60% {
      transform: rotate3d(0, 0, 1, 80deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
  
    40%,
    80% {
      transform: rotate3d(0, 0, 1, 60deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
      opacity: 1;
    }
  
    to {
      transform: translate3d(0, 700px, 0);
      opacity: 0;
    }
  }
  
.hinge {
    animation: hinge 1.5s;
}

@keyframes zoomOut {
    from {
        opacity: 1;
      }
    
      to {
        opacity: 0;
      }
    }
  
.fadeOut {
    animation: zoomOut .5s 0ms;
  }

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  
.bounceIn {
    animation: bounceIn .7s;
}



/*

@keyframes pulse {
    0% {
        background-color: #B22D3A;
    }
    50% {
        background-color: rgb(143, 30, 45);
    }
    100% {
        background-color: #B22D3A;
    }
}

@keyframes pulse-btn {
    0% {
        background-color: #B22D3A;
    }
    50% {
        background-color: rgb(143, 51, 60);
    }
    100% {
        background-color: #B22D3A;
    }
}    

@keyframes pulse-grey {
    0% {
        background-color: rgb(196, 183, 175);
    }
    50% {
        background-color: rgb(156, 132, 128);
    }
    100% {
        background-color: rgb(196, 183, 175);
    }
}



@keyframes fade-up {
    from {
      opacity: 0;
      transform: translate3d(0, 80px, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

*/

.anim-delay-1 {animation-delay: .1s;}
.anim-delay-2 {animation-delay: .2s;}
.anim-delay-3 {animation-delay: .3s;}
.anim-delay-4 {animation-delay: .4s;}
.anim-delay-5 {animation-delay: .5s;}
.anim-delay-6 {animation-delay: .6s;}
.anim-delay-7 {animation-delay: .7s;}
.anim-delay-8 {animation-delay: .8s;}
.anim-delay-9 {animation-delay: .9s;}
.anim-delay-10 {animation-delay: 1s;}
.anim-delay-11 {animation-delay: 1.1s;}
.anim-delay-12 {animation-delay: 1.2s;}