html, body {
    background: #838482;
    margin:0;
    padding:0;
    height: 100%;
    font-family:"Open Sans", "Helvetica", "Arial", sans-serif;
    overflow:hidden;
}

#header {
    position:fixed;
    display:block;
    height:50px;
    width:100%;
    background:#ddd;
    margin:0;
    padding:6px;
    z-index:2;
}

#logo {
    display:block;
    background:url(../img/SVG/drn_logo.svg);
    width:150px;
    height:32px;
    margin:9px;
    opacity:.5;
    transition:opacity .5s ease;    
}

#logo:hover {
    opacity:1;
    transition:opacity .5s ease;
}

#flex-big {
    display: flex;
    width: 100%;
    height: 100%;
}

#flex-left, #flex-right {
    position:relative;
    min-width:370px;
    padding-top:60px;
}

#flex-side-in {
    display:block;
    position:absolute;
    background:#727573;
    width:100%;
    height:100%;
    padding:0 18px 50px;
    box-sizing:border-box;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

#slide-btn-left, #slide-btn-right {
    display:block;
    position:absolute;
    height:45px;
    width:23px;
    top:75px;
    right:-20px;
    background-color:rgb(114, 114, 114);
    border-radius:0 5px 5px 0;
    transition:all 1s ease;
}

#slide-btn-right {
    left:-20px;
    border-radius: 5px 0 0 5px;
}

#slide-btn-left:hover, #slide-btn-right:hover {
    background-color: #666;
    cursor:pointer;
    transition:background-color .3s ease;
}

#slide-btn-left:active, #slide-btn-right:active {
    background-color:rgb(202, 55, 70);
}

#slide-btn-left img, #slide-btn-right img {
    margin:13px 0 0 6px;
    transition:all .5s ease .6s;
}

.rotate-90 { transform: rotate(180deg); }

.trans-slow { transition:all 2s ease .6s!important; }
.trans-fast { transition:all .5s ease 0s!important; }

.slide-side-left { transform: translateX(-360px); }
.slide-side-right { transform: translateX(360px); }

.side-top {
    padding-top:10px;
}

.side-top h3 {
    display:inline-block;
    padding-left:12px;
    margin-bottom:3px;
    font-size:15px;
    color:#eee;
}

.side-bottom {
    display:block;
    margin:210px auto;
}

.btn-small, .grey-btn {
    display:inline-block;
    float:right;
    background:#974049;
    width:100px;
    height:18px;
    padding:2px 6px;
    margin-top:15px;
    border-radius:5px;
    font-size:12px;
    font-weight:600;
    text-align:center;
    color:white;
    text-transform:uppercase;
    transition:all .5s ease;
}

.btn-small:hover::after {
    content:" task";
}

.btn-small:hover, .grey-btn:hover {
    opacity:1;
    width:120px;
    background:#c02f3e;
    transition:all .5s ease;
    cursor:pointer;
    animation:pulse-btn 2s infinite;
}

.grey-btn {
    background:#888;
    width:80px;
}

.grey-btn:hover {
    animation:none;
    width:120px;
    background:#555;
}

.btn-small:active, .grey-btn:active {
    background:rgb(202, 55, 70);
    animation:none;
}

.task {
    display:block;
    position:relative;
    color: white;
    width:auto;
    vertical-align:middle;
    min-height:40px;
    padding:24px;
    margin:8px 0;
    border-radius:10px;
    font-size:15px;
    animation:task-bounce-in 1s;
}

.task p {
    margin:auto;
}

.green-task { background:#657267; }
.pink-task { background:#9A706D; }
.blue-task { background:#5B7078; }
.grey-task { background:#626563; }

.task-right {
    background:#808381;
    transition:all 2s ease;
}

.task-right:hover {
    background:#444;
    transition:all 1s ease;
}

.task-right > .task-btn-delete {
    display:none;
    background:url(../img/cross.png) no-repeat center;
}

.task-right:hover > .task-btn-delete {
    display:block;
}

.task-edit {
    display:block;
    position:relative;
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(77, 77, 77, 0.97);
    top:0;
    left:0;
    border-radius:10px;
    opacity:0;
    transition:all .3s ease;
}

.task:hover > .task-edit {
    opacity:1;
}

.task-btns {
    position:absolute;
    top:50%;
    left:0;
    transform: translateY(-65%);
    width:100%;
    text-align:center;
}

.task-btn {
    display:inline-block;
    background:#444;
    width:80px;
    padding:6px 6px;
    margin-top:15px;
    border-radius:5px;
    font-size:13px;
    font-weight:600;
    text-align:center;
    text-transform:uppercase;
    color:white;
    transition:all .5s ease;
}

.task-btn:hover {
    background:rgb(44, 44, 44);
    cursor:pointer;
    transition:all .7s ease;
    padding:6px 22px;
}


.red-btn { background:#974049; } .red-btn:hover { background:#c02f3e; } .task-btn:active { background:#f7d2d5; }

.task-btn-delete {
    position:absolute;
    top:6px;
    right:6px;
    width:22px;
    height:22px;
    background:url(../img/bin.png) no-repeat center;
    border-radius:5px;
    opacity:.7;
}

.task-btn-delete:hover {
    opacity:1;
    background-color:rgb(53, 53, 53);
    cursor:pointer;
    transition:all .5s ease;
}

#flex-center {
    width:100%;
    padding-top:60px;
    text-align:center;
}

#flex-center h1 {
    margin:60px 0 20px;
    text-align:center;
    font-size:42px;
    font-weight:700;
    color: rgb(112, 112, 112);
    letter-spacing:-2px;
    text-shadow: 0px 1px 0px rgba(200,200,200,.5);
}

#flex-center h4 {
    color:#444;
    font-weight:300;
    font-size:18px;
    margin:40px auto 10px;
}

#flex-center h2 {
    color:#efefef;
    font-weight:700;
    font-size:32px;
    margin-top:-5px;
}

#main-task-big {
    display:none;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
}

#main-task-empty {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform: translateY(32%);
}

#main-task-empty h1 {
    margin-bottom:-20px;
    font-size:48px;
    font-weight:700;
    color: rgb(112, 112, 112);
    letter-spacing:-2px;
    text-shadow: 0px 1px 0px rgba(200,200,200,.5);
}

#main-task-empty h3 {
    font-size:28px;
    font-weight:500;
    color: rgb(112, 112, 112);
    text-shadow: 0px .5px 0px rgba(200,200,200,.5);
}

.main-task {
    display:block;
    max-width:650px;
    margin:30px auto 40px;
    padding:70px;
    background:#B22D3A;
    color:white;
    text-align:center;
    font-size:32px;
    font-weight:600;
    border-radius:30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    animation: pulse 2s infinite;
}

/* .main-task:hover {
    animation: pulse 5s infinite;
} */

.btn-big {
    display:inline-block;
    width:150px;
    height:auto;
    padding:8px 6px;
    margin:0 0 7px 15px;
    border-radius:8px;
    background:#888;
    color:#aaa;
    font-size:16px;
    font-weight:600;
    text-align:center;
    text-transform:uppercase;
    transition:all .5s ease;
    // animation:fade-in .5s;
}

.btn-big:hover {
    background:#666;
    color:#fff;
    width:200px;
    opacity:1;
    cursor: pointer;
    transition: all .5s ease;
}

.done:hover {
    background:#B22D3A;
    animation:pulse-btn 2s infinite;
}

.done:active {
    background:rgb(202, 55, 70)!important;
}

.giveup:hover::before {content: "really "}
.giveup:hover::after {content: "?"}
.done:hover::before {content: "it's "}
.done:hover::after {content: "!!"}

.btn-big:active {
    background:white;
    animation:none;
}

.main-bottom {
    margin:50px auto 90px;
}

.mtv-box {
    display:inline-block;
    background:#B22D3A;
    width:auto;
    padding:4px 22px 5px;
    margin:0 5px 5px;
    border-radius:8px;
    font-size:20px;
    font-weight:600;
    text-align:center;
    color:white;
    transition:all .5s ease;
}

.mtv-box:hover {
    padding:4px 44px 5px;
    background:#8c232d;
    animation:pulse 2s infinite;
    transition:all .5s ease;
    cursor: default;
}

#task-wrapper {
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    z-index:999;
    background:rgba(78, 78, 78, 0.9);
    margin:0!important;
    padding:0;
    opacity:0;
    transition:all .6s ease .5s;    
}

#task-popup {
    position:absolute;
    top:50%;
    left:50%;
    width:750px;
    padding:10px 30px;
    box-sizing:border-box;
    transform: translate(-375px,-330px);
    border-radius:20px;
    background:#CECECE;
    color:#777;
    text-align:center;
    box-shadow: 0 0 35px rgba(59, 59, 59, 0.7);
    opacity:0;
    transition:all .6s ease .5s;
}

.opaque {
    opacity:1!important;
    transition:all .6s ease .5s;
}

#task-text {
    width:100%;
    height:120px;
    margin:-10px auto;
    border:none;
    border-radius:10px;
    padding:15px;
    box-sizing: border-box;
    font-size:22px;
    text-align:left;
    color:#777;
    background:#FAFAFA;
    outline: none;
    resize: none;
}

.task-options {
    margin:0 auto;
    padding:15px;
    width:100%;
    text-align:left;
    font-size:20px;
    vertical-align: middle;
}

.task-options td {
    height:60px;
    vertical-align: middle;
}


.name-cell {
    max-width:60px;
    font-weight:600;
    font-size:22px;
}

[type=text], select {
    padding:8px;
    background:#f8f8f8;
    color:#aaa;
    font-size:17px;
    border-radius:5px;
    border:none;
    outline: none;
}

select {
    height:36px;
    width:200px;
}

[type=text] {
    width:100%;
}

textarea::placeholder, [type=text]::placeholder {
    color:#ccc;
}

.pick-color {
    display:inline-block;
    width:40px;
    height:40px;
    margin-right:7px;
    border-radius: 20px;
    box-sizing: border-box;
}

.active-color {
    border:4px solid brown;
}

.btn-popup {
    display:inline-block;
    float:right;
    width:auto;
    padding:4px 28px 5px;
    margin:0 5px 35px;
    border-radius:8px;
    font-size:19px;
    font-weight:600;
    text-align:center;
    background:#aaa;
    color:white;
    transition:all .5s ease;
}

.btn-popup:hover {
    padding:4px 44px 5px;
    background:#636363;
    animation:pulse 2s infinite;
    transition:all .5s ease;
    cursor: default;
}

.red-btn { background:#B22D3A; } .red-btn:hover { background:rgb(155, 27, 48); }
.btn-cancel { float:left };

@media (max-width:1240px) {
    .main-task {
        margin:10px 20px;
        padding:40px 20px;
        font-size:22px;
    }
    #flex-center h1 {
        font-size:22px;
        margin:50px 0 10px;
    }
    .task {
        padding:10px;
        font-size:14px;
    }
    .mtv-box {
        font-size:16px;
    }
    #flex-center h4 {
        font-size:15px;
    }
    #flex-left, #flex-right {
        min-width:260px;
    }
    .slide-side-left { transform: translateX(-250px); }
    .slide-side-right { transform: translateX(250px); }
}

@media (max-width:1480px) {
    .main-task {
        max-width:850px!important;
        margin:10px 20px;
        padding:40px 20px;
        font-size:22px;
    }
    #main-task-big h1 {
        font-size:30px;
        margin:50px 0 10px;
        padding:20px;
    }
    #flex-side-in {
        padding:0 12px;
    }
    #flex-left, #flex-right {
        min-width:320px;
    }
    .slide-side-left { transform: translateX(-310px); }
    .slide-side-right { transform: translateX(310px); }
}

@media (max-width:1580px) {
    .main-task {
        max-width:650px;
        margin:10px 20px;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: #666; 
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background: #888; 
    border-radius:2px;
}

::-webkit-scrollbar-thumb:hover {
    width: 10px;
    background: #555; 
}
