<div id="flex-side-in" class="dblclick">
    <div class="side-top">
        <h3>done today</h3>
        <div class="grey-btn"></div>
    </div>
        <div class="task task-right anim-delay-1 taskBounce">
            <div class="cath cath-b"></div>
            <p>Lorem ipsum dolor sit Amet consectetur adipisicing elit</p>
        <div class="task-btn-hide" onclick="javascript:hideTask();"></div>
    </div>
        <div class="task task-right anim-delay-2 taskBounce">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <div class="task-btn-hide" onclick="javascript:hideTask();"></div>
        </div>
        <div class="task task-right anim-delay-3 taskBounce">
            <div class="cath cath-a"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <div class="task-btn-hide" onclick="javascript:hideTask();"></div>
        </div>
        <div id="refresh-done" class="refresh-done flipInX" onclick="javascript:refreshDone();">
            <img src="img/refresh.png" alt="Refresh!">
        </div>
</div>
