.viewer {
    position: relative;
}

.images {
    width: calc(908px*9);
    height: 526px;
    background: white;
    transition: all .5s ease;
}

.viewer-img {
    display: inline-block;
    position: relative;
    background: url(works/blank.jpg) no-repeat center;
    background-size: cover;
    width: 898px;
    height: 526px;
    margin: 0 8px 0 0;
    transition: all .5s ease;
}

.img-upload {
    position: absolute;
    display: none;
}

.scale-0 {
    opacity: 0;
    grid-column: 1 / span 0;
    transform: translateY(-50px);
    transition-property: opacity, transform;
    transition-duration: .3s, .5s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    z-index: 997;
}

.scale-100 {
    opacity: 1;
    transform: translateY(0px);
    transition-property: opacity, transform;
    transition-duration: .4s, .5s;
    z-index: 997;
}

#contents .next {
    position: relative;
    background-blend-mode: darken;
    opacity: .2;
    cursor: pointer;
}

#contents .next:hover {
    opacity: .4;
    transition: all .2 ease;
}

#contents .last {
    background: url(img/arrow.svg) no-repeat;
    background-color: rgba(230, 230, 230, 0.9);
    background-size: 16%;
    background-position: 10% 50%;
    margin-left: -4px;
    opacity: .5;
    cursor: pointer;
}

#contents .last:hover {
    opacity: 1;
    transition: all .3 ease;
}

#contents .previous {
    opacity: 1;
}

@keyframes itemBounce {
    0% {
        transform: translateY(0);
    }
    20% {
        opacity: 1;
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
    }
}

.itemBounce {
    animation: itemBounce .7s;
}


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    20% {
        opacity: 1;
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}

.slideIn {
    animation: slideIn .7s;
}


