<div id="flex-big" class="dblclick">
    <div id="flex-left" class="trans-fast">
        <div id="slide-btn-left" class="dblclick">
            <div id="arr-left"></div>
        </div>
        <app-flex-left></app-flex-left>
    </div>

    <div id="flex-center" class="dblclick">
        <app-flex-center></app-flex-center>
    </div>

    <div id="flex-right" class="trans-fast dblclick">
        <div id="slide-btn-right">
          <div id="arr-right"></div>
        </div>
        <app-flex-right></app-flex-right>
    </div>

</div>
