
#task-wrapper {
  display:none;
  position:absolute;
  width:100%;
  height:100%;
  z-index:999;
  background:rgba(78, 78, 78, 0.9);
  margin:0!important;
  padding:0;
  opacity:1;
  transition:all .6s ease .5s;
}

.visible {
  display:block!important;
}

#task-popup {
  position:absolute;
  top:50%;
  left:50%;
  width:750px;
  padding:5px 30px;
  box-sizing:border-box;
  transform: translate(-50%,-70%);
  border-radius:20px;
  background:#ccc;
  color:#777;
  text-align:center;
  box-shadow: 0 0 35px rgba(59, 59, 59, 0.7);
  opacity:1;
  transition:all .6s ease .5s;
}

#task-popup h2 {
  font-size:24px;
  margin-bottom:10px;
}

.opaque {
  opacity:1!important;
  transition:all .6s ease .5s;
}

.task-table {
  margin:0 auto 20px;
  padding:2px 15px 5px;
  width:100%;
  text-align:left;
  font-size:22px;
  vertical-align: middle;
}

.task-table td {
  height:55px;
  padding:2px 0;
}

#task-text {
  width:100%;
  height:120px;
  margin:0 auto 5px;
  border:none;
  border-radius:10px;
  padding:15px;
  box-sizing: border-box;
  font-size:20px;
  font-family:"Open Sans", sans-serif;
  text-align:left;
  color:#777;
  background:#FAFAFA;
  outline: none;
  resize: none;
}

#task-text:focus {
  background:#fff;
}

.name-cell {
  width: 130px;
  font-size:20px;
  font-weight:600;
}

[type=text], select {
  width:100%;
  padding: 8px;
  background: #f8f8f8;
  color: #777;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  outline: none;
}

#task-text:focus, [type=text]:focus, select:focus {
  border:1px solid #aaa!important;
}

.color-cell {
  margin-left:10px!important;
}

select {
  height:36px;
  width:200px;
}

textarea::placeholder, [type=text]::placeholder {
  color:#ccc;
}

.pick-color {
  display:inline-block;
  width:40px;
  height:40px;
  margin-right:5px;
  border-radius: 20px;
  box-sizing: border-box;
}

.pick-color p {
  font-size:20px;
  color:white;
  text-align:center;
  margin-top:6px;
  opacity:.3;
}

.active-color {
  border:4px solid brown;
}

.btn-popup {
  display:inline-block;
  float:right;
  width:auto;
  padding:6px 26px;
  margin:10px 5px 20px;
  border-radius:20px;
  font-size:18px;
  font-weight:600;
  text-align:center;
  background:#aaa;
  color:white;
  transition:all .5s ease;
}

.btn-popup:hover {
  padding:6px 50px;
  background:#636363;
  animation:pulse 2s infinite;
  transition:all .5s ease;
  cursor: pointer;
}

.red-btn { background:#B22D3A; }
.red-btn:hover { background:rgb(155, 27, 48); }
.btn-cancel { float:left };


