
@media (max-width:1620px) {
  .main-task {
      max-width:60%!important;
      margin:10px 30px 30px;
      padding:40px 30px;
  }
  #main-task-big h1 {
      font-size:30px;
      margin:50px 0 10px;
      padding:20px;
  }
  #main-task-big h2 {
      font-size:26px;
  }
  #flex-side-in {
      padding:0 12px;
  }
  #flex-left, #flex-right {
      min-width:320px;
  }
  .slide-side-left { transform: translateX(-310px); }
  .slide-side-right { transform: translateX(310px); }
  #main-task-empty h1 {
      max-width:520px;
      font-size:42px;
  }
}

@media (max-width:1540px) {
  .main-task {
      max-width:60%;
      margin:10px auto 30px!important;
      padding:40px 30px!important;
      font-size:28px!important;
  }
  #main-task-big h1 {
      font-size:30px;
      margin:50px 0 10px;
      padding:20px;
  }
  #main-task-big h2 {
      font-size:26px;
  }
  #flex-side-in {
      padding:0 12px;
  }
  #flex-left, #flex-right {
      min-width:320px;
  }
  .slide-side-left { transform: translateX(-310px); }
  .slide-side-right { transform: translateX(310px); }
  #main-task-empty h1 {
      max-width:520px;
      font-size:42px;
  }
}

@media (max-width:1024px) {
  .main-task {
      max-width:450px!important;
      margin:10px 30px 30px;
      padding:40px 30px;
      font-size:22px;
  }
  #main-task-big h1 {
      font-size:30px;
      margin:50px 0 10px;
      padding:20px;
  }
  #main-task-big h2 {
      font-size:26px;
  }
  #flex-side-in {
      padding:0 12px;
  }
  #flex-left, #flex-right {
      max-width:320px!important;
  }
  .slide-side-left { transform: translateX(-310px); }
  .slide-side-right { transform: translateX(310px); }

  #main-task-empty h1 {
      max-width:520px;
      width:80%;
      line-height:1.2;
      font-size:36px;
  }
}

@media (max-width:970px) {
  .main-task {
      max-width:600px!important;
      min-width:none!important;
      margin:10px auto 30px auto!important;
      padding:40px 40px;
      font-size:24px;
      min-width:150px;
  }

  #main-task-empty .empty-btn {
      display:block;
      width:250px;
      padding:10px 20px;
      margin:40px auto;
      font-size:24px;
      font-weight:500;
      background-color:#777;
      color: #ddd;
      border-radius:10px;
      transition: all 1s ease;
  }

  #main-task-empty .empty-btn:hover {
      cursor:pointer;
      background:#333;
      padding:10px 50px;
      transition: all .5s ease;
  }

  #main-task-empty .empty-btn:active { background:#ddd; }

  #main-task-empty h1 {
      font-size:32px;
  }

  #main-task-empty h3 {
      display:none;
  }

  #slide-btn-left, #slide-btn-right {
      display:none;
  }

  #flex-left, #flex-right {
      display:none;
  }

  #main-task-big {
      width:90%!important;
  }

  #flex-big {
      width:100%!important;
      padding:0!important;
      min-width:150px;
      text-align:center;
  }
  #flex-center {
      width:100%!important;
      padding:50px 20px!important;
  }

  body, #flex-big, #flex-left, #flex-side-in {
      overflow-y: visible!important;
  }

  h4 { font-size:16px!important; margin-top:10px!important; }
  h2 { font-size:26px!important; }

  .main-top {
      margin-bottom:-40px;
  }

  #flex-big {
      width:100%!important;
      min-width:150px;
      flex-direction: column;
      text-align:center;
      padding:0 30px;
  }

  #flex-left, #flex-right {
      display:none;
      position:static!important;
      width:100%!important;
      max-width:9000px!important;
      padding:10px!important;
      min-width:none;
  }
  #flex-side-in {
      display:block;
      position:static;
      background:#727573;
      width:100%!important;
      height:100%;
      padding:0 18px 50px;
      overflow: visible!important;
      box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  }
  #slide-btn-left, #slide-btn-right {
      display:none;
  }
  #flex-center { order:1; }
  #flex-left { order:2; }
  #flex-right { order:2; display:none; }
}

@media (max-width:520px) {
  #main-task-empty h1 {
      font-size:32px!important;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background: #666;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: #888;
  border-radius:2px;
}

::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background: #555;
}
