
.viewer {
    position: relative;
}

.images {
    width: calc(908px);
    height: 526px;
    background: white;
    transition: all .5s ease;
}

.viewer-img {
    display: inline-block;
    position: relative;
    background: url(img/blank.jpg) no-repeat center;
    background-size: cover;
    width: 898px; 
    height: 526px; 
    margin: 0 8px 0 0;
    transition: all .5s ease;
}

.thumb {
    position: absolute;
    width: 190px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.viewer-description {
    position: absolute;
    display: flex;
    background: rgba(247, 247, 247, 0.96);
    height: 100%;
    width: 100%;
    padding: 20px 0 25px 35px;
    box-sizing: border-box;
}

.descr-thumb {
    top: 0;
    left: 100%;
    transform: translate(-105%, 20px);
    width: 250px;
}

.description-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.description-top {
    width: 90%;
}

.description-top h2 {
    font-size: 2rem!important;
}

.description-bottom {
    font-size: 1.12rem;
}

.description-left {
    max-width: 650px;
}

.description-right {
    width: 10%;
}

.arrow-to-right, .previous::after {
    content: '';
    position: absolute;
    right: -21%;
    top: 50%;
    width: 6%;
    height: 100%;
    transform: translateY(-10%);
    background: url(img/arrow-head.svg) no-repeat;
    animation: pulse 3s infinite ease 2s;
    animation-fill-mode: backwards;
}


.img-upload {
    position: absolute;
    display: none;
}

.scale-0 {
    opacity: 0;
    grid-column: 1 / span 0;
    transform: translateY(-50px);
    transition-property: opacity, transform;
    transition-duration: .3s, .5s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    z-index: 997;
}

.scale-100 {
    opacity: 1;
    transform: translateY(0px);
    transition-property: opacity, transform;
    transition-duration: .4s, .5s;
    z-index: 997;
}

#contents .next {
    position: relative;
    background-blend-mode: difference;
    opacity: .2;
    cursor: pointer;
}

#contents .next:hover {
    opacity: .4;
    transition: all .2 ease;
}

#contents .last {
    background: url(img/arrow.svg) no-repeat;
    background-color: rgba(248, 248, 248, 1);
    background-size: 16%;
    background-position: 10% 50%;
    margin-left: -4px;
    opacity: 1;
    cursor: pointer;
}

#contents .last:hover {
    opacity: 1;
    transition: all .3 ease;
}

#contents .previous {
    opacity: 1;
}

@keyframes itemBounce {
    0% {
        transform: translateY(0);
    }
    20% {
        opacity: 1;
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
    }
}

.itemBounce {
    animation: itemBounce .7s;
}


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    20% {
        opacity: 1;
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}

.slideIn {
    animation: slideIn .7s;
}

@keyframes pulse {
    from {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

