@import url('portfolio.css');
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&display=swap'); */

*, html, body {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    width: 100%;
    font-family: "Open Sans";
    color: black; 
}

#curtain {
    display: none;
    /* display: block; */
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 69, 36, 0.9);
    /* background-color: rgba(255, 69, 36, 0.9); */
    top: 0;
    z-index: 998;
    transition: all 1.5s ease;
    transition-delay: 1s;
} 

#wrapper {
    max-width: 1200px;
    transform-origin: top center;
    margin: auto;
    overflow: hidden;
}

#header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 8px;
    height: 100px;
}

.head-left, .head-right {
    display: block;
    height: 100%;
    padding: 24px 0 0;
    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: -.3px;
    text-transform: uppercase;
    font-size: 14px;
}

.head-left {
    grid-column: 1 / span 2;
}

.head-left h1 {
    display: block;
    width: 450px;
    height: 40px;
    color: #ffff00;
    font-size: 0px;
    background: url('img/dagnis_logo.svg') no-repeat;
    background-size: 100%;
}

.head-left h2 {
    font-weight: 500;
    letter-spacing: -.3px;
    text-transform: uppercase;
    font-size: 14px;
}

.head-right {
    text-align: right;
}

.head-right ul {
    list-style: none;
}

.head-right .nav-li {
    display: inline-block;
    padding-left: 14px;
}

.head-right .active {
    text-decoration: line-through;
}

.motto {
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch;
    height: 36px;
    width: auto;
    background: black;
    margin: 8px 0;
}

.motto-left {
    display: block;
    width: 326px;
    padding-left: 30px;
    background: url(img/motto-left.png) no-repeat center;
}

.motto-mid {
    display: block;
    flex: auto;
    background: url(img/motto-mid.png) no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    animation: slideFromLeft 2s ease;
}

@keyframes slideFromLeft {
    0% {
        background-position-x: -2000px;
    }
    100% {
        background-position-x: right;
    }
}

.motto-right {
    display: block;
    width: 331px;
    padding-right: 30px;
    background: url(img/motto-right.png) no-repeat center;
}

#contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 170px);
    grid-gap: 8px;
}

#contents .active-item {
    background-color: rgba(240, 240, 240, 1);
    padding: 25px;
}

#contents h2, h3, h4 {
    text-transform: uppercase;
    letter-spacing: -.3px;
}

#contents h2 {
    font-size: 20px;
}

#contents h3, h4 {
    font-size: 15px;
    text-align: left;
}

h4 {
    font-weight: 400;
}

.grid-item-inner {
    position: relative;
    display: block;
    background: #f8f8f8;
    height: 170px;
    text-align: center;
    transition: background-color 1s ease;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s ease;
}

.grid-item-inner:hover > .item-inner {
    transition: transform .2s ease-in;
    transform: translate(0, 0);
}

.item-inner, .item-inner-active, .item-visited {
    display: block;
    position: absolute;
    padding: 25px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: left;
    box-sizing: border-box;
}

/* Yellow */
/* .item-inner, .item-inner-active, .item-visited {
    background: rgba(255, 251, 36, 0.966);
    color: black;
}

/* Red */
/* .item-inner, .item-inner-active, .item-visited {
    background: rgba(255, 69, 36, 0.966);
    color: black;
} */

/* Blue */
.item-inner, .item-inner-active, .item-visited, .item-inner > svg {
    background: rgba(255, 69, 36, 0.97);
    color: black;
}

.inner-top { transform: translateY(-171px); }
.inner-right { transform: translateX(295px); }
.inner-bottom { transform: translateY(171px); }
.inner-left { transform: translateX(-295px); }
.transition-6 { transition: all 1s ease; }

/* .item-inner-active:hover > img {
    transform: rotate(-180deg);
    transition: all .5s ease;
} */

.item-inner img {
    transform: rotate(0deg);
    transition: transform .5s ease;
}

.item-inner-active > img {
    transform: rotate(-180deg);
    transition: transform .5s ease;
}

.item-inner-active {
    transform: translate(0, 0)!important;
}

.expanded {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    grid-column: 1 / span 4;
}

.hidden {
    display: none!important;
    transition: all 1s ease;
}

.expand-row-1a, .expand-row-1b { grid-row-start: 2; grid-row-end: 5; }
.expand-row-2a, .expand-row-2b { grid-row-start: 3; grid-row-end: 6; }
.expand-row-3a, .expand-row-3b { grid-row-start: 4; grid-row-end: 7; }
.expand-row-4a, .expand-row-4b { grid-row-start: 5; grid-row-end: 8; }
.expand-row-5a, .expand-row-5b { grid-row-start: 6; grid-row-end: 9; }
.expand-row-6a, .expand-row-6b { grid-row-start: 7; grid-row-end: 10; }
.expand-row-7a, .expand-row-7b { grid-row-start: 8; grid-row-end: 11; }




.expanded-bottom {
    min-height: 150px;
    margin-bottom: 4px;
    width: 100%;
    background-color: rgba(230, 230, 230, 0.9);
    /* background-color: rgba(226, 226, 226, 0.404); */
    /* border: 3px solid rgba(255, 69, 36, 0.9); */
    box-sizing: border-box;
    padding: 30px 50px;
}

.expanded-bottom span {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

.expanded-bottom img {
    margin: 0 10px;
    transform: rotate(180deg)
}

.expanded-bottom p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.3px;
}

.expanded-bottom h2, .expanded-bottom span, .expanded-bottom p {
    outline: none;
}

.edit-mode {
    border: 1px solid white;
    width: auto;
    background: rgba(50, 209, 183, 0.9);
    outline: unset;
}

.edit-mode::selection {
    background: rgba(255, 159, 239, 0.9);
}

noscript {
    display: block;
    width: 70vw;
    margin: 50px auto;
}

noscript h4 {
    color: rgb(218, 4, 4);
    font-weight: 700;
    margin-bottom: 40px;
    background: rgba(235, 198, 198, 0.685);
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

noscript h3 {
    margin-top: 20px;
}

@import url('media.css');