@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);
@import url(anim.scss);
@import url(media.scss);

html, body {
  background:url(img/bg.jpg) center #74757a;
  background-attachment: fixed;
  background-position: cover;
  margin:0;
  padding:0;
  height: 100%;
  font-family:"Open Sans", "Helvetica", "Arial", sans-serif;
  overflow:hidden;
  user-select: none;
}

#flex-center {
  width:100%;
  padding-top:60px;
  text-align:center;
}

#flex-big {
  display: flex;
  width: 100%;
  height: 100%;
}

#flex-left, #flex-right {
  position:relative;
  min-width:370px;
  padding-top:60px;
}

#slide-btn-left, #slide-btn-right {
  display:block;
  position:absolute;
  height:45px;
  width:23px;
  top:75px;
  right:-20px;
  background: url(img/arr-left.png) center no-repeat;
  background-color:#606165;
  border-radius:0 5px 5px 0;
  transition:all 1s ease;
}

#slide-btn-right {
  left:-20px;
  border-radius: 5px 0 0 5px;
}

#slide-btn-left:hover, #slide-btn-right:hover {
  background-color: #525358;
  cursor:pointer;
  transition:background-color .3s ease;
}

#slide-btn-left:active, #slide-btn-right:active {
  background-color:rgb(202, 55, 70);
}

#arr-left, #arr-right {
  margin:13px 0 0 6px;
}

.rotate-180 { transform: rotate(180deg); }

.trans-slow { transition:all 2s ease .6s!important; }
.trans-fast { transition:all .5s ease 0s!important; }

.slide-side-left { transform: translateX(-360px); }
.slide-side-right { transform: translateX(360px); }

#flex-side-in {
  display:block;
  position:absolute;
  background:#636468;
  width:100%;
  height:100%;
  padding:0 18px 50px;
  box-sizing:border-box;
  overflow: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  z-index:2;
}

.side-top {
  padding-top:10px;
}

.side-top h3 {
  display:inline-block;
  padding-left:12px;
  margin-bottom:3px;
  font-size:15px;
  color:#eee;
}

.side-bottom {
  display:block;
  margin:210px auto;
}

.btn-small, .grey-btn {
  display:inline-block;
  float:right;
  background:#943c44;
  width:100px;
  height:18px;
  padding:2px 6px;
  margin-top:15px;
  border-radius:5px;
  font-size:12px;
  font-weight:600;
  text-align:center;
  color:white;
  text-transform:uppercase;
  transition:all .5s ease;
}

.btn-small:hover::after {
  content:" task";
}

.grey-btn::after {
  content:"earlier";
}

.btn-small:hover, .grey-btn:hover {
  opacity:1;
  width:120px;
  background:#c02f3e;
  transition:all .5s ease;
  cursor:pointer;
  animation:pulse-btn 2s infinite;
}

.grey-btn {
  background:#74757a;
  width:80px;
}

.grey-btn:hover {
  animation:none;
  width:120px;
  background:#4c4d52;
}

.btn-small:active, .grey-btn:active {
  background:rgb(202, 55, 70);
  animation:none;
}

.grey-btn:active::after {
  content:"not yet done"
}

.task {
  display:block;
  position:relative;
  color: white;
  width:auto;
  min-height:40px;
  padding:24px;
  margin:8px 0;
  border-radius:10px;
  font-size:15px;
  animation:task-bounce-in 1s;
}

.task p {
  margin:auto;
}

.task-edit {
  display:block;
  position:relative;
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(68, 69, 73, 0.8);
  top:0;
  left:0;
  border-radius:10px;
  opacity:0;
  transition:all .5s ease;
}

.task:hover > .task-edit {
  opacity:1;
}

.task-btns {
  position:absolute;
  top:50%;
  left:0;
  transform: translateY(-65%);
  width:100%;
  text-align:center;
}

.task-btn {
  display:inline-block;
  background:rgb(58, 58, 62);
  width:70px;
  padding:6px 6px;
  margin-top:15px;
  margin-right:2px;
  border-radius:5px;
  font-size:13px;
  font-weight:600;
  text-align:center;
  text-transform:uppercase;
  color:white;
  transition:all .5s ease;
}

.task-btn:hover {
  background:rgb(48, 48, 52);
  cursor:pointer;
  transition:all .7s ease;
  padding:6px 22px;
}

.red-btn { background:#974049; }
.red-btn:hover { background:#c02f3e; }
.task-btn:active { background:#f7d2d5; }

.task-right p::after {
  content:"1h 25m";
  margin: 2px 0 0 10px;
  width:100%;
  color:#bbb;
  font-size:12px;
}

.cath {
  position:absolute;
  bottom:7px;
  right:7px;
  width: 10px;
  height: 10px;
  border-radius:10px;
}

.cath-a { background:coral; }
.cath-a:hover { background:rgb(231, 102, 56); }
.cath-b { background:teal; }
.cath-b:hover { background:rgb(0, 102, 102); }
.cath-c { background:olive; }
.cath-c:hover { background:rgb(99, 99, 0); }

.green-task { background:#555f57; }
.pink-task { background:rgb(121, 100, 99); }
.blue-task { background:rgb(91, 103, 109); }
.grey-task { background:#58595c; }
.grey-task:hover { background:#494a4e; }

.task-btn-delete, .task-btn-hide {
  position:absolute;
  top:6px;
  right:6px;
  width:22px;
  height:22px;
  background:url(img/bin.png) no-repeat center;
  border-radius:5px;
  opacity:.7;
}

.task-btn-delete:hover, .task-btn-hide:hover {
  opacity:1;
  background-color:rgb(53, 53, 53);
  cursor:pointer;
  transition:all .5s ease;
}

